@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Merriweather', serif;
}


.contenidoGuia{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    margin: 5%;
}

.contenidoGuia div{
    width: 70%;
    height: 300px;
    margin: auto;
    padding: auto;
    text-align: center;
}

.contenidoGuia div img{
    height: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.contenidoGuia div a{
    text-decoration: none;
}

#salud{
    height: 100vh;
    width: 100%;
    background-color: #FAD7A0;
}

#telefonos{
    height: fit-content;
    width: 100%;
    background-color: rgb(253, 253, 253);
}

#empleo{
    height: fit-content;
    width: 100%;
    background-color: #FAD7A0;
}

#estafas{
    height: 100vh;
    width: 100%;
    background-color: rgb(253, 253, 253);
}

#telefonos h1{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

#lineas_cont {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 5%;
}

#lineas_cont div{
    width:fit-content;
    height: 210px;
    margin: auto;
    padding: auto;
    text-align: center;
    background-color: #FAD7A0;
    border: 10px solid white;
}

#lineas_cont div h2{
    margin-top: 15px;
}

.carousel-control{
    color: black;
}

div h1{
    text-align: center;
}

@media screen and (max-width: 600px) {
    .contenidoGuia {
        grid-template-columns: auto;
        margin-top: 10%;
    }
    .contenidoGuia div{
        height: 250px;
    }
    .contenidoGuia div img{
        width: 190px;
    }
    #lineas_cont{
        grid-template-columns: auto;
        margin-top: 10%;
    }
    #telefonos{
        height: fit-content;
        width: 100%;
    }
    #lineas_cont div{
        height: fit-content;
        width: fit-content;
        font-size: 12px;
    }
    #lineas_cont div h2{
        width: fit-content;
    }
    #estafas{
        height: fit-content;
    }

}


